
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {

    background-color: rgba(0, 0, 0, 0.87)
}

.scrollstick {
    position: fixed;
    top: 0;
    width: 100%
  }

  .scrollstick + .content {
    padding-top: 102px;
  }



.base img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-bar {
    
    background-color: rgb(90, 21, 21);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar a {
    color:rgba(0, 0, 0, 0.87);
    border: 1vh solid black;
    text-transform: uppercase;
    font-family:fantasy;
    font-weight: 650;
    text-decoration: none;
}

.content {
    height: 100vh;
}