<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan's Daily Bible Selection</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

        <nav>
            <select id="select">
                <option value="#stream1"> Psalms & Proverbs </option>
                <option value="#stream2"> History Books </option>
                <option value="#stream3"> Prophets </option>
                <option value="#stream4"> Gospels & Acts </option>
                <option value="#stream5"> Epistles </option>
                <!-- <option value="#ot"> OT Reader</option>
                <option value="#nt"> NT Reader</option> -->

            </select>
            <div id="player">
                <p> Text-to-Voice: Select 'stream'</p>
                <button id=play>play</button>
                <button id=pause>pause</button>
                <button id=stop>stop</button>
            </div>
            <a id="head" href="#header">Home</a>
            <hr>
            <a href="#stream1">Psalms & Proverbs</a>
            <hr>
            <a href="#stream2">History Books</a>
            <hr>
            <a href="#stream3">Prophets</a>
            <hr>
            <a href="#stream4">Gospels & Acts</a>
            <hr>
            <a href="#stream5">Epistles</a>
            <hr>
            <a id="search-a" href="#search"> Search </a>
        </nav>
    
    <div id="app">
        <h1>Ryan's Daily Bible Selection</h1>
            <h2> Today's Date: {{current_day}} </h2>
        <header id="header">
        
            
            <!-- <blockquote> ### Add an About link ### -->
            <!-- </blockquote>   -->
            <!-- <blockquote> -->
                <!-- ### Add a Shack Link ###    -->
            <!-- </blockquote> -->
            <label for="date"> Select Passage Date </label>
            <input v-model="selected_day" id="date" type="date">
        
        <label for="button"> Load Scripture </label>
        <button id="button" @click="main"> Day: {{ day }} </button>
        
        
        </header>
        
        
        <div id="stream1" class="stream">
            <fieldset >
                <legend>
                       Psalms & Proverbs
                </legend>
                <details>
                <summary>
                    {{ stream1_range }} 
                </summary>
                <ol v-model="stream1" id="stream1_ol"> 
                    <li v-for="verse in stream1.verses" :key="stream1.id"> 
                        <p> {{ verse.text }} </p>
                    </li>
                </ol>
                </details>
            </fieldset>
        </div>

        <div id="stream2" class="stream">
            <fieldset >
                <legend>
                       History Books
                </legend>
                <details>
                <summary>
                    {{ stream2_range }} 
                </summary>
                <ol v-model="stream2" id="stream2_ol"> 
                    <li v-for="verse in stream2.verses" :key="stream2.id"> 
                        <p> {{ verse.text }} </p>
                    </li>
                </ol>
                </details>
            </fieldset>
        </div>

        <div id="stream3" class="stream">
            <fieldset >
                <legend >
                       Prophets
                </legend>
                <details>
                    <summary>
                        {{ stream3_range }} 
                    </summary>
                
                <ol v-model="stream3" id="stream3_ol"> 
                    <li v-for="verse in stream3.verses" :key="stream3.id"> 
                        <p> {{ verse.text }} </p>
                    </li>
                </ol>
                </details>
            </fieldset>
        </div>

        <div id="stream4" class="stream">
            <fieldset >
                <legend>
                      Gospels & Acts
                </legend>
                <details>
                    <summary>
                        {{ stream4_range }}  
                    </summary>
                
                <ol v-model="stream4" id="stream4_ol"> 
                    <li v-for="verse in stream4.verses" :key="stream4.id"> 
                        <p> {{ verse.text }} </p>
                    </li>
                </ol>
                </details>
            </fieldset>
        </div>

        <div id="stream5" class="stream">
            <fieldset >
                <legend>
                       Epistles
                </legend>
                <details>
                    <summary>
                        {{ stream5_range }} 
                    </summary>
                
                <ol v-model="stream5" id="stream5_ol"> 
                    <li v-for="verse in stream5.verses" :key="stream5.id"> 
                        <p> {{ verse.text }} </p>
                    </li>
                </ol>
                </details>
            </fieldset>
        </div>






    </div>
    
    
    <!-- <div id="search">
        <div id='ot-reader'>
            <h1>Old Testament* Bible Reader</h1>
            *website I am pulling from only provides first verse for single chapter books for some strange reason
            <br><br>
            this code is a bit buggy, you have to first select book name, then chapter, then hit the 'update scripture' button. if an extra chapter drop down shows up, you will have to likely refresh page, sorry!
    
            <p> Powered by <a href="https://bible-api.com/"> bible-api.com </a> and Vue</p>
            <div id="ot-input">
                Choose book!
            </div>  
            <div id="app-ot">
                
                <fieldset>
                    
                    <button @click="loadOTVerses" id="ot-button">Update Scripture! (make sure chapter is selected also)</button> Click arrow to show/hide scripture
                    
                    <details id="ot">
                        <summary v-if="otBibleVerses"> {{ otBibleVerses.reference }} </summary>
                        
                        <ol>
                            <li v-for="verse in otBibleVerses.verses" :key="verse.id">
                                <p>{{ verse.text }}</p>
                            </li>
                            
                        </ol>
                    </details>
    
                </fieldset>
            </div>
            <div id='nt-reader'>
                <h1>New Testament* Bible Reader</h1>
                *website I am pulling from only provides first verse for single chapter books for some strange reason
                <br><br>
                this code is a bit buggy, you have to first select book name, then chapter, then hit the 'update scripture' button. if an extra chapter drop down shows up, you will have to likely refresh page, sorry!
        
                <p> Powered by <a href="https://bible-api.com/"> bible-api.com </a> and Vue</p>
                <div id="nt-input">
                    Choose book!
                </div>  
                <div id="app-nt">
                    
                    <fieldset>
                        
                        <button @click="loadNTVerses" id="nt-button">Update Scripture! (make sure chapter is selected also)</button> Click arrow to show/hide scripture
                        
                        <details id="nt">
                            <summary v-if="ntBibleVerses"> {{ ntBibleVerses.reference }} </summary>
                            
                            <ol>
                                <li v-for="verse in ntBibleVerses.verses" :key="verse.id">
                                    <p>{{ verse.text }}</p>
                                </li>
                                
                            </ol>
                        </details>
        
                    </fieldset>
                </div>
            </div>
    </div> -->
    
    <footer>
        <p> Powered by: https://bible-api.com, Vue, Axios</p>
        <p> Reading Schedule made by Elder Ron Kreins</p>
        <p> Dedicated to the Greatest Wingman: Senior Airman Ryan Shackleford, or better known to the Air Force intelligence community as Shack, may he continue to rest in peace</p>
        <p> Site Creator: Jonathon Cavada</p>
        <p> Last Update: 10/05/2022 ~3pm PST </p>
    </footer>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>    
    <!-- <script src="search.js"></script> -->
</body>
</html>