html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* margin-top:15vh; */
    background-image: url('guitar.jpg');
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* width: 100% */
}

h1 {
    background-color:rgba(128, 0, 128, 0.176);
    font-family: monospace;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 100%; */
    border: .25em solid black;
    padding: 1em;
    margin: 1em;
    
}

p, blockquote, summary {
    padding:1vw;
    margin:1vh;
    font-size: 1.8vh;
    /* background-color:rgba(255, 235, 205, 0.277); */
    /* line-height: 1.55em; */
}



summary {
    margin:1vh;
    background-color: rgba(128, 0, 128, 0.155);
    width:fit-content;
}
legend {
    margin:1vh;
    background-color:rgba(0, 0, 255, 0.258);
    font-size: 2vh;
}

.stream {
    background-color: rgba(143, 143, 143, 0.186);
    margin-right: 25vw;
}

fieldset {
    margin-top: 5vw;
    background-color: rgba(255, 247, 247, 0.475);
    padding: 1vw;
}

blockquote, legend, p, details {
    padding: .2em;
    font-family:monospace

}

blockquote {
    padding: 1em;
    background-color: rgba(255, 235, 205, 0.362);
}

.enter {
    width:fit-content;
    background-color: purple;
    color: whitesmoke;
}

.edit {
    float: right;
}

footer {
    padding: 1vh;
    background-color: rgba(245, 245, 245, 0.414)
}

li {
    font-size: 1.5vh;
    list-style:decimal;
    font-family: monospace;
}

fieldset:hover {
    /* font-weight: 700; */
    /* color: white; */
    background-color: rgba(219, 219, 219, 0.744);
    text-shadow: 0 0 rgb(0, 0, 0);
}

li:hover {
    background-color: rgba(0, 128, 0, 0.371);
}

li:focus {
    background-color:rgba(0, 128, 0, 0.251);
}

a:hover {
    background-color: rgba(0, 128, 0, 0.251);
    box-shadow: 0 0 2em rgba(0, 0, 255, 0.833);
    border-radius: 1em 1em;
    color: whitesmoke;
    font-weight: 1000;
    text-shadow: 0 0 1em black;
}

legend, summary:hover{
    background-color:rgba(245, 245, 245, 0.186);
    box-shadow: 0 0 2em rgba(0, 0, 255, 0.833);
    border-radius: 1em 1em;
    color: whitesmoke;
    font-weight: 1000;
    text-shadow: 0 0 1em black;
}

nav {
    /* font-size: 1vw; */
    font-weight: 800;
    padding: .5em;
    /* margin: 1em; */
    display: flex;
    flex-direction: column;
    text-align:center;
    width: 25vw;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.586);
    height: 100%;
    position: fixed;
    right:1vw;
    top: 0;
}

a {
    height: 7vh;
    width: 25vw;
    font-size: 2vh;
    padding: .5em;
    font-family: monospace;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.433);
    color:rgb(15, 15, 137)
}

#head {
    background-color:rgba(0, 0, 255, 0.781);
    color: whitesmoke;
}

header {
    margin-right: 25vw;
}

#button {
    padding: 4vh;
}

#button:hover {
    background-color:rgba(230, 85, 85, 0.427);
    color: white;
    text-shadow: 0 0 pink;
}

#play,#pause,#stop {
    font-size: .8vh;
}