<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div class="box" id="app">
        
        
        <fieldset>
            <h1 class="boxh1"> Day Shift Log </h1>

        <blockquote>
            {{ report }}
        </blockquote> <br> <br>
        
        <legend v-if="!editted"> Date Created: {{ time }} </legend>
        <legend v-else-if="editted"> Last Edit: {{ edit }} </legend>
        <textarea id="input" @keyup.enter="hideBox" v-model="report" v-show="isVisible"></textarea>
        <p class="enter" v-show="isVisible">{{ button }}</p>
        <p class="date" v-if="editted"> Date Created: {{ time }} </p>
        <button class="edit" @click="hideBox" v-show="!isVisible" > {{ button }}</button>
        
    
        <button class="bible" @click="loadVerses">Load Verses</button>
        <div v-if="verses">
            <p v-for="verse in verses.verses" :key="verses.verse"> {{ verse.text }}</p>
        </div>
        </fieldset>
       
    </div>
    <hr>
    <div class="box" id="app2">
        
        
        <fieldset>
            <h1 class="boxh1"> Night Shift Log </h1>

        <blockquote>
            {{ report }}
        </blockquote> <br> <br>
        
        <legend v-if="!editted"> Date Created: {{ time }} </legend>
        <legend v-else-if="editted"> Last Edit: {{ edit }} </legend>
        <textarea @keyup.enter="hideBox" v-model="report" v-show="isVisible"></textarea>
        <p class="enter" v-show="isVisible">{{ button }}</p>
        <p class="date" v-if="edistted"> Date Created: {{ time }} </p>
        <button class="edit" @click="hideBox" v-show="!isVisible" > {{ button }}</button>


        </fieldset>
       
    </div>

    <div>

    </div> 
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>    

</body>
</html>